.event-detail-container {
  display: grid;
  padding: 80px 50px 50px 50px;
  min-height: 100vh;
  gap: 50px;
  margin: auto;
  place-items: center;
}

.eventcard {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/bagroundmilestone.png");
  background-repeat: repeat-x;
  background-size: contain;
  height: 25vh;
  justify-content: center;
  padding: 20px;
  width: 60%;
  border-radius: 1rem;
  border: 1px solid rgb(110, 110, 110);
  backdrop-filter: blur(10px);
  background-color: rgba(240, 248, 255, 0.05);
  image-rendering: crisp-edges;
}
.decx {
  text-align: center;
  padding: 0px 160px 0px 160px;
}
.eventcard h3 {
  margin-top: -10px;
  font-size: 1.5rem;
}

.eventcard p {
  padding-top: 30px;
}

.event-detail-container h2 {
  font-size: 3rem;
}
.event-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  margin: 10px;
  background-color: #9e2a2b;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.event-btn:hover {
  background-color: #911617;
  transform: scale(1.1);
}

/* Style for the icon */
.event-btn img {
  height: 25px; /* Adjust size */
  width: 25px;
}

/* Register Button */
.register-btn {
  background-color: #003874;
}

.register-btn:hover {
  background-color: #002c5a;
}

/* Fix .download class */
.mainred {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  gap: 10px;
}
.extra-images-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.extra-img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
